AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localhost.localstack.cloud:4566
DYNAMODB_TABLE_NAME=avaliacoes
EMAIL_QUEUE_NAME=email-queue
EMAIL_DLQ_NAME=email-queue-dlq
SES_FROM_EMAIL=noreply@example.com
REPORT_RECIPIENT_EMAIL=admin@example.com
REPORT_SCHEDULE_EXPRESSION=rate(1 day)
